<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BFAdvertisementDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8D339B41D915A280023D8BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8D339CD1D915A290023D8BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8D339D81D915A290023D8BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
